html{
    min-height: 100%;
}
body{
    background-image: url("Assets/Mobile-Background.svg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position-x: center;
    background-size: fill;
    min-height: 100%;
    color: #282828;
    margin: 0px;
}
#logo{
    display: block;
    width: 10mm;
    height: 10mm; 
    margin:15px;
    position: absolute;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    margin-top: 5px;    
    padding: 10px;
}
.menu a{
    text-decoration: none;
    color:#282828;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;

}
.menu{
    margin-top:10px; 
    width: 100%;
    padding: 15px;
    display: none;
}
#menu{
    display: block;
    width: 10mm;
    height: 10mm;
    margin: 7px;

}
#picturs{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
#nav{
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0px;

} 
p{
    display: none;
}
h1{
    font-family: 'Space Mono',sans-serif;
    color: white;
    text-align: center;
}
h1 span{
    color:#282828;
}
#text a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 15mm;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg,#5BDFF3,#333CC9);
    box-shadow: grey 3px 3px 3px;
    padding: 1em;
    color:white;
}
#text{
    margin-top: 4em;
}
#GetS{
    background: white;
    height: 15mm;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 0;
}